/*BACKGROUND*/
.contato {
  background-color: #000;
  max-width: 1600px;
  width: auto;
  padding-top: 60px;
  padding-bottom: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
/*CONTEUDO*/
.contato h1 {
  font: 500 2rem/1 "Fira Code", sans-serif;
  color: #2e7eff;
  padding: 12px;
  margin-left: 12rem;
}

.contato h2 {
  font: 400 1.8rem/1 "Roboto", sans-serif;
  color: #9c9c9c;
  margin-left: 12rem;
  padding: 20px;
}

.redes {
  display: flex;
  gap: 12px;
  margin-left: 12rem;
  padding: 20px;
}

.contato h3 {
  font: 300 1.125rem/1.125 "Fira Code", sans-serif;
  color: #9c9c9c;
  margin: -8rem 10rem 0rem 6rem;
}
.contato strong {
  font-size: 1.5rem;
  color: #2e7eff;
}
.contato h4 {
  font: 400 1.12rem/1 "Roboto", sans-serif;
  color: #9c9c9c;
  text-align: end;
  margin: -4rem 10rem;
}

.contato h5 {
  font: 400 0.8rem/1 "Roboto", sans-serif;
  color: #9c9c9c;
  margin: 5rem 0rem 0rem 12rem;
}

/*OTIMIZAÇÃO     1150PX */
@media (max-width: 1150px) {
  .contato h3 {
    margin: -8rem 4rem 0rem 6rem;
  }
  .contato h4 {
    margin: -0.5rem 4rem 0rem 10rem;
  }
}
/*OTIMIZAÇÃO     950PX */
@media (max-width: 950px) {
  .contato h1 {
    margin-left: 2rem;
  }
  .contato h2 {
    margin-left: 2rem;
  }
  .contato div {
    margin-left: 2rem;
  }
  .contato h5 {
    margin: 5rem 0rem 0rem 2rem;
  }
}
/*OTIMIZAÇÃO     680PX */
@media (max-width: 680px) {
  .contato {
    grid-template-columns: 1fr;
  }
  .contato h3 {
    margin: 2rem 5rem 0rem 6rem;
  }
}
/*OTIMIZAÇÃO     370PX */
@media (max-width: 370px) {
  .contato h1 {
    margin: 0rem;
    text-align: center;
  }
  .contato h2 {
    font-size: 1.2rem;
    margin: 0rem;
    padding: 8px;
    text-align: center;
  }
  .redes {
    margin-left: 0rem;
    padding: 8px;
  }
  .contato h5 {
    margin: 5rem 0rem 0rem 2rem;
  }
}
