/*BACKGROUND*/
.formacao {
  background-color: #000;
  max-width: 1600px;
  display: grid;
  grid-template-columns: 1fr;
}

.formacao h1 {
  font: 700 3rem/1 "Fira Code", sans-serif;
  color: #0952c8;
  margin: 4rem 0rem 0rem 12rem;
}

.chapeu {
  margin: -35rem 0rem 0rem 55rem;
}

/*FORMAÇÃO ACADÊMICA*/
.faculdade {
  padding: 16px 20px;
  background: #9c9c9c;
  border-radius: 4px;
  margin: 60px;
  margin-right: 30rem;
  margin-left: 12rem;
}

.faculdade h3 {
  font: 400 1.5rem/1 "Roboto", sans-serif;
  color: #000000;
  margin: -8rem 0rem 0rem 11rem;
}

.faculdade h5 {
  font: 700 1rem/1 "Fira Code", sans-serif;
  color: #595959;
  margin: 1rem 0rem 0rem 11rem;
}

.faculdade h4 {
  font: 400 1.25rem/1.25 "Roboto", sans-serif;
  color: #2e2e2e;
  margin-top: 4rem;
}

.faculdade h2 {
  font: 600 1.5rem/1 "Roboto", sans-serif;
  color: #595959;
}

/*IDIOMAS*/
.idiomas {
  padding: 16px 16px;
  background: #9c9c9c;
  box-shadow: 0 1px 2px #cccccc;
  border-radius: 5px;
  margin: 60px;
  margin-right: 12rem;
  margin-left: 52rem;
  margin-top: -19rem;
}

.idiomas h2 {
  font: 600 1.5rem/1 "Roboto", sans-serif;
  color: #595959;
  margin: 12px;
}

.idiomas h3 {
  font: 400 1.5rem/1 "Roboto", sans-serif;
  color: #000000;
  margin: 30px 12px;
}

.idiomas h4 {
  font: 700 0.75rem/1 "Fira Code", sans-serif;
  color: #595959;
  margin: -25px 0rem 0rem 12px;
}

@media (max-width: 1200px) {
  .chapeu {
    width: 200px;
    height: 145px;
  }
}
@media (max-width: 1150px) {
  .formacao h1 {
    font-size: 2.8;
  }
  .chapeu {
    margin: -30rem 0rem 0rem 45rem;
  }
  /*FACULDADE*/
  .faculdade {
    margin: 2rem 35rem 0rem 8rem;
  }
  .faculdade h4 {
    margin-top: 2rem;
  }
  /*IDIOMAS*/
  .idiomas {
    margin-left: 40rem;
    margin-right: 20rem;
  }
  .idiomas h2 {
    font: 600 1.5rem/1 "Roboto", sans-serif;
    color: #595959;
    margin: 12px;
  }
  .idiomas h3 {
    font: 400 1.5rem/1 "Roboto", sans-serif;
    color: #000000;
    margin: 30px 12px;
  }
  .idiomas h4 {
    font: 700 0.75rem/1 "Fira Code", sans-serif;
    color: #595959;
    margin: -25px 0rem 0rem 12px;
  }
}
@media (max-width: 950px) {
  .formacao h1 {
    font-size: 2rem;
    margin-left: 8rem;
  }
  .chapeu {
    margin: -33rem 0rem 0rem 30rem;
  }
  /*FACULDADE*/
  .formacao img {
    width: 80px;
    height: 80px;
  }
  .faculdade {
    margin: 2rem 45em 0rem 8rem;
  }
  .faculdade h3 {
    font-size: 1rem;
    margin: -4.8rem 2rem 0rem 6rem;
  }
  .faculdade h5 {
    font-size: 0.7rem;
    margin: 0.2rem 0rem 0rem 6rem;
  }
  .faculdade h4 {
    font-size: 1rem;
    margin-top: 1rem;
  }
  /*IDIOMAS*/
  .idiomas {
    margin: -16rem 30rem 10rem 30rem;
  }
  .idiomas h2 {
    font-size: 1.2rem;
  }
  .idiomas h3 {
    font-size: 1.2rem;
    margin-top: 1rem;
  }
}
@media (max-width: 680px) {
  .formacao h1 {
    font-size: 1.7rem;
    margin-left: 2rem;
  }
  .chapeu {
    margin: -40rem 0rem 0rem 20rem;
  }
  /*FACULDADE*/
  .faculdade {
    margin: 2rem 12em 0rem 2rem;
  }
  .faculdade h3 {
    font-size: 1.2rem;
  }
  .faculdade h4 {
    font-size: 1.3rem;
    margin-top: 2rem;
  }
  /*IDIOMAS*/
  .idiomas {
    margin: 2rem 30rem 0rem 2rem;
  }
}
