/*BACKGROUND*/
.header {
  background-color: #2e2e2e;
  max-width: 1600px;
  padding: 8px 0px;
  gap: 18px;
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  margin-left: 12rem;
}

/*CONTEUDO*/
.header-menu {
  display: flex;
  gap: 20px;
}

.header-menu a {
  font: 700 1.125rem/1.5 "Fira Code", sans-serif;
  padding: 16px 16px;
  display: block;
  color: #f7f7f7;
}

.header div {
  display: flex;
  gap: 16px;
  margin-right: 3rem;
}
/*OTIMIZAÇÃO 1500PX */
@media (max-width: 1150px) {
  .logo {
    margin-left: 4rem;
  }
  .header ul {
    gap: 10px;
  }
}
/*OTIMIZAÇÃO 950PX */
@media (max-width: 950px) {
  .logo {
    width: 100px;
    height: 40px;
    margin-left: 1.2rem;
  }
  .header-menu a {
    font-size: 1rem;
    gap: 8px;
    padding: 6px 6px;
  }
  .header div {
    margin-left: 0rem;
  }
  .header ul {
    gap: 2px;
  }
}
/*OTIMIZAÇÃO 680PX */
@media (max-width: 680px) {
  .header-menu {
    display: none;
  }
  .header div {
    margin-left: 8rem;
    gap: 20px;
  }
}
