.home {
  background-color: #000;
  box-shadow: inset 0 -60px #ededed;
  max-width: 1600px;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
}

.code {
  margin-top: 7.5rem;
  margin-left: 12rem;
}

.home p {
  font: 300 2rem/2.25 "Fira Code", sans-serif;
  color: #717171;
  margin-top: 2rem;
  margin-left: 12rem;
}

.home h1 {
  font: 700 3rem/1 "Fira Code", sans-serif;
  color: #0952c8;
  margin-left: 12rem;
}

.home h2 {
  font: 300 1.7rem/2 "Fira Code", sans-serif;
  color: #b2b2b2;
  margin-left: 12rem;
}

.foguete {
  margin-top: -25rem;
  margin-left: 45rem;
}
