.home {
  background-color: #000;
  max-width: 1600px;
  display: grid;
  grid-template-columns: 1fr;
  padding-bottom: 20px;
}

.code {
  margin: 7.5rem 0rem 0rem 12rem;
}

.home p {
  font: 300 2rem/2.25 "Fira Code", sans-serif;
  color: #717171;
  margin: 2rem 0rem 0rem 12rem;
}

.home h1 {
  font: 700 3rem/1 "Fira Code", sans-serif;
  color: #0952c8;
  margin-left: 12rem;
}

.home h2 {
  font: 300 1.7rem/1.8 "Fira Code", sans-serif;
  color: #b2b2b2;
  margin-left: 12rem;
}

.foguete {
  margin: -26rem 0rem 0rem 45rem;
}

@media (max-width: 1200px) {
  .foguete {
    width: 400px;
    height: 400px;
    margin: -24rem 0rem 0rem 45rem;
  }
  .code {
    margin: 5rem 0rem 0rem 12rem;
  }
}
@media (max-width: 1150px) {
  .foguete {
    width: 300px;
    height: 300px;
    margin: -24rem 0rem 0rem 40rem;
  }
}
@media (max-width: 950px) {
  .foguete {
    width: 200px;
    height: 200px;
    margin: -14rem 0rem 0rem 30rem;
  }
  .code {
    width: 100px;
    height: 180px;
    margin: -1rem 0rem 0rem 8rem;
  }
  .home p {
    font-size: 1.5rem;
    margin: -2rem 0rem 0rem 8rem;
  }
  .home h1 {
    font-size: 1.9rem;
    margin: -0.5rem 0rem 0rem 8rem;
  }
  .home h2 {
    font-size: 1.1rem;
    margin: -0.5rem 0rem 0rem 8rem;
  }
}
@media (max-width: 680px) {
  .foguete {
    width: 110px;
    height: 110px;
    margin: -14rem 0rem 0rem 18rem;
  }
  .home {
    padding-bottom: 60px;
  }
  .code {
    width: 80px;
    height: 160px;
    margin: 3rem 0rem 0rem 2rem;
  }
  .home p {
    font-size: 1.6rem;
    margin: -2rem 0rem 0rem 2rem;
  }
  .home h1 {
    font-size: 2.1rem;
    margin: -0.2rem 0rem 0rem 2rem;
  }
  .home h2 {
    font-size: 1.2rem;
    margin: -0.2rem 0rem 0rem 2rem;
  }
}
