/*BACKGROUND*/
.projeto {
  background-color: #ededed;
  max-width: 1600px;
  width: auto;
  padding-bottom: 50px;
  padding-top: 60px;
}
/*CONTEUDO*/
.projeto h1 {
  font: 700 3rem/1 "Fira Code", sans-serif;
  color: #0952c8;
  text-align: center;
}
/*PROJETOS*/
.projetos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 16px 20px;
  background: #9c9c9c;
  border-radius: 4px;
  margin: 60px;
  margin-left: 12rem;
  margin-right: 12rem;
}

.projetos h2 {
  font: 500 2rem/1 "Fira Code", sans-serif;
  color: #000000;
  margin: 12px;
}

.projetos h3 {
  font: 400 1.125rem/1 "Roboto", sans-serif;
  color: #000000;
  margin: 1px 12px;
}

.projetos img {
  width: 350px;
  height: 200px;
  margin: -80px 0px 0px 40px;
}

.projetos a {
  font: 700 1.125rem/1 "Fira Code", sans-serif;
  color: #000000;
  text-align: center;
  padding: 16px 20px;
  background: #66a1ff;
  box-shadow: 0 1px 2px #2e7eff;
  border-radius: 5px;
  margin: 0px 16px 0px 260px;
}

/*OTIMIZAÇÃO     1150PX */
@media (max-width: 1150px) {
  .projetos {
    margin-left: 8rem;
    margin-right: 8rem;
  }
}
/*OTIMIZAÇÃO     950PX */
@media (max-width: 950px) {
  .projetos {
    grid-template-columns: 1fr;
  }
  .projetos img {
    margin: 1rem 0px 0px 2rem;
  }
  .projetos h2 {
    font-size: 1.8rem;
  }
}
/*OTIMIZAÇÃO     680PX */
@media (max-width: 680px) {
  .projetos img {
    margin: 1.2rem 0rem 0rem 1.5rem;
    width: 300px;
    height: 150px;
  }
  .projetos a {
    margin: 0px 20px 0px 8rem;
  }
  .projetos {
    margin-left: 3rem;
    margin-right: 3rem;
  }
}

/*OTIMIZAÇÃO     450PX */
@media (max-width: 450px) {
  .projeto h1 {
    font-size: 1.8rem;
  }
  .projetos {
    margin: 2rem;
  }
  .projetos img {
    display: none;
  }
  .projetos h2 {
    font-size: 1.5rem;
  }
  .projetos h3 {
    font-size: 1rem;
    margin: 0rem;
  }
  .projetos a {
    margin: 0rem;
  }
}
