.header {
  background-color: #2e2e2e;
  max-width: 1600px;
  padding: 8px 0px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.logo {
  display: flex;
  margin-left: 12rem;
}

.header-menu a {
  font: 700 1.125rem/1.5 "Fira Code", sans-serif;
  padding: 10px 20px;
  color: #f7f7f7;
  display: block;
}

.bandeiras {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-right: 40px;
}
